<!doctype html>
<head>
</head>
<body>
    <h1>Editing Task #{task.id}</h1>
    <form action="" method="POST">
        <h3>Statement</h3>
        <input name="statement" value="#{task.statement}">
        <h3>Answer</h3>
        <input name="answer" value="#{task.answer}">
        <h3>Solution</h3>
        <input name="solution" value="#{task.solution}">
        <h3>Grade</h3>
        <input name="grade" value="#{task.grade}">
        <br>
        <input type="submit" value="Suply">
    </form>
</body>