<!doctype html>
<head>

</head>
<body>
    <h1>Task #{task.id}</h1>
    <h3>Statement</h3>
    <p>#{task.statement}</p>
    <h3>Answer</h3>
    if(!user.isTeacher && !user.isAdmin && !user.isEditor)
        <p>You have no access to this field</p>
    else
        <p>#{task.answer}</p>
    <h3>Solution</h3>
    if(!user.isTeacher && !user.isAdmin && !user.isEditor)
        <p>You have no access to this field</p>
    else
        <p>#{task.solution}</p>
    <h3>Grade</h3>
    <p>#{task.grade}</p>
</body>