extends ../../views/template.pug

block title 
  | Мой профиль
  
block content
    .content
        include ../../public/includes/leftside-menu.pug
        .my_profile
            h1(class="my_profile_title") Личная информация
            .my_profile_box                        
                h2 Профиль
                a(class="edit_profile_link" href="/user/edit-profile") Редактировать
                label Фотография
                //label(class="my_profile_photo") #{mainInfo.photo}
                label Photo
                label Электронная почта:
                label(class="my_profile_info") #{mainInfo.email}   
                label Фамилия:
                label(class="my_profile_info") #{mainInfo.surname}  
                label Имя:
                label(class="my_profile_info") #{mainInfo.name}
                label Отчество:
                label(class="my_profile_info") #{mainInfo.patronymic}       
                label Номер телефона:
                label(class="my_profile_info") #{mainInfo.telephone}



